*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar-list{
    display: flex;
    flex-direction: row;
}
.list-button{
    margin-left: 8px;
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.active{
    border-bottom: solid 2px black;
}